.viewport{
position:relative;
}
.viewport,.ccItem {
float:left;
overflow:hidden;
}

.viewport a,.ccItem a {
display:block;
}

.viewport a span {
display:none;
font-size:1em;
font-weight:700;
height:100%;
padding-top:35%;
position:absolute;
text-align:center;
text-decoration:none;
width:100%;
z-index:100;
}

.viewport a span.bottom {
	bottom:0;
	left:0;
	height:65%;
}

.viewport a span em {
display:block;
font-size:0.45em;
font-weight:400;
}

.dark-background {
background:url(blackOverlay.png);
color:#fff;
text-shadow:#000 0 0 20px;
}

.dark-background em {
color:#ccc;
}

.light-background {
background:url(whiteOverlay.png);
color:#333;
text-shadow:#fff 0 0 20px;
}

.light-background em {
color:#707070;
}

div.captifyContent {
margin:0;
}

div.ccdark-background div.caption-top,div.ccdark-background div.caption-bottom {
color:#fff;
text-shadow:#000 0 0 20px;
font-size:12px;
font-family:arial;
cursor:hover;
border:0 solid #334143;
background:#000;
padding:0.6em 1.2em;
}

div.cclight-background div.caption-top,div.cclight-background div.caption-bottom {
color:#333;
text-shadow:#fff 0 0 20px;
font-size:12px;
font-family:arial;
cursor:hover;
border:0 solid #334143;
background:#fff;
padding:0.6em 1.2em;
}

div.captifyContent div.caption-wrapper {
float:left;
cursor:pointer;
}

.captifyTitle {
clear:both;
width:94%;
}

div.ccClear,br.c {
clear:both;
}

div.ccdark-background div.caption a,div.ccdark-background div.caption a,div.cclight-background div.caption a,div.cclight-background div.caption a {
border:0 none;
text-decoration:none;
background:#fff;
float:left;
cursor:pointer;
padding:0.3em;
}